@import "./screen-size.scss";

body, html {
    font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2d3748;
    font-size: 1rem;
}

body.waiting * {
    cursor: wait;
}

* {
    box-sizing: border-box;
  }

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

@media (min-width: $sm) {
    .container {
        max-width: $sm;
    }
}

@media (min-width: $md) {
    .container {
        max-width: $md;
    }
}

@media (min-width: $lg) {
    .container {
        max-width: $lg;
    }
}

@media (min-width: $xl) {
    .container {
        max-width: $xl;
    }
}
